@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Times New Roman', Times, serif;
    margin: 0;
    min-height: 100vh;
}

p{
    margin: 0;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
}

.header-section{
    background: #1F2937; 
    padding-top: 20px; 
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    display: flex; 
    gap: 24px; 
    list-style: none; 
}

.header-links a{
    color: #9CA3AF; 
    text-decoration: none;
    font-size: 15px; 
}

.header-links a:hover{
    color: white; 
}
 
.hero-section{ 
    background: #1F2937; 
    padding: 60px 0;
}

.hero{ 
    display: flex;
    align-items: center; 
    gap: 40px;
 }

.hero-text{ 
    flex: 1; 
}

.hero h1 {  
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
 }

.hero p { 
    line-height: 1.5; 
    margin-bottom: 24px; 
    font-size: 18px;  
    color: #c4c6ca;
}

.hero-image {
    flex: 1; 
}

.hero-image img {
    width: 100%;
    border-radius: 8px;
    display: block;
}


.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}


.info-section{
    text-align: center;
    padding-bottom: 80px;
}

.info-container{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.random-info{
    margin: 50px 0;
}

.text{
    max-width: 150px;
    color: #5e6063;
}

.info-section, .quote-section, .container {
    flex: 1;
}

.img{
    width: 150px;
    height: 150px;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(19, 102, 228);
    margin-bottom: 6px;
}

.quote-section{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    padding: 80px 0;
}

.quote-wrapper{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 30px;
}
.quote-text{
    text-align: left;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    line-height: 45px;
}

.author{
    font-size: 24px;
    font-weight: 700;
    text-align:right;
}

.sign-button{
    background-color: #3882f6;
    border: 0;
    padding: 8px 26px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.sign-button.section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 900px;
    padding: 45px 26px;

}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.description{
    color: #c4c6ca;
    font-weight: 400;
}

.sign-button .two{
    border: 2px;
    border-style: solid;
    border-color: white;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 50px;
}