@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;

}

p{
    margin: 0;
}

.header{
    justify-content: space-evenly;
}

.header,
.hero{
    align-items: center;
    display: flex;
}

.hero-box{
    max-width: 440px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.color{
    background-color: #1F2937;
    height: 500px;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;

}

.secondary-text{
    font-size: 18px;
    color: #c4c6ca;
    margin: 0;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}

.hero{
    justify-content: center;
}


.r32-box{
    width: 450px;
    height: 250px;
}

.r32{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    text-align: center;
}

.img{
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(12, 128, 173);
}

.quote-section{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: center;
}

.sign-button{
    background-color: #3882f6;
    border: 0;
    padding: 6px 28px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.sign-button.section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 900px;
    padding: 45px 26px;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.description{
    color: #c4c6ca;
    font-weight: 400;
}

.sign-button .two{
    border: 2px;
    border-style: solid;
    border-color: white;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 50px;
}